.default {
    /* border: 2px solid red; */
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.default_item {
    height: 184px;
    border-radius: 8px;
}

.total_earning {
    position: relative;
    background-color: #5E35B1;
    overflow: hidden;
}

.total_order {
    position: relative;
    background-color: #1E88E5;
    overflow: hidden;

}

.cir1 {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -125px;
    right: -15px;
    opacity: 0.5;
}

.cir2 {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgb(69, 39, 160);
    border-radius: 50%;
    top: -85px;
    right: -95px;
}

.total_order .cir2 {
    background-color: rgb(21, 101, 192);
}

.total_order .cir1 {
    background-color: rgb(21, 101, 192);
}

.total_income {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total_income1 {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: #1E88E5;
    border-radius: 8px;

}

.total_income2 {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: #fff;
    border-radius: 8px;

}

.total_income_cir1 {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(140.9deg, rgb(144, 202, 249) -14.02%, rgba(144, 202, 249, 0) 77.58%);
    border-radius: 50%;
    top: -160px;
    right: -130px;
}

.total_income_cir2 {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    background: linear-gradient(210.04deg, rgb(144, 202, 249) -50.94%, rgba(144, 202, 249, 0) 83.49%);
    border-radius: 50%;
    top: -30px;
    right: -180px;
}

.total_income2 .total_income_cir1 {
    background: linear-gradient(140.9deg, rgb(255, 193, 7) -14.02%, rgba(144, 202, 249, 0) 70.5%);
}

.total_income2 .total_income_cir2 {
    background: linear-gradient(210.04deg, rgb(255, 193, 7) -50.94%, rgba(144, 202, 249, 0) 83.49%);
}

.bar_graph {
    background-color: #fff;
    height: 618px;
    grid-column-start: 1;
    grid-column-end: 3;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar_des {
    /* border: 2px solid black; */
    height: 100px;
}

.bar_view {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 500px;
}

.bar_graph_item {
    margin: 2rem;
}

.bar {
    width: 4.16%;
    height: 300px;
    background-color: #eab3b3;
}

.popular_stock {
    background-color: #fff;
    height: 618px;
}








/* inside totoal earning */

.css-1hqeloq {
    padding: 18px;
}

.css-1wkwmmc {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.css-1wkwmmc>.MuiGrid-item {
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-8rnkcc {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-between;
}

.css-1nma4y7 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    color: rgb(30, 136, 229);
    background: rgb(69, 39, 160);
    cursor: pointer;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
    margin-top: 8px;
}


.css-2ztzz9 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    background: rgb(94, 53, 177);
    cursor: pointer;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    font-size: 1.2rem;
    color: rgb(179, 157, 219);
    z-index: 1;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
}

.css-1wkwmmc>.MuiGrid-item {
    max-width: none;
}

.css-v3z1wi {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-tg80y7 {
    margin: 14px 8px 6px 0px;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    font-size: 2.125rem;
    font-weight: 500;
    color: #fff;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-f3285z {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    background: rgb(179, 157, 219);
    cursor: pointer;
    width: 22px;
    height: 22px;
    font-size: 1rem;
    color: rgb(94, 53, 177);
}


.css-1ub9u31 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
    transform: rotate3d(1, 1, 1, 45deg);
}

.css-1wkwmmc>.MuiGrid-item {
    max-width: none;
}

.css-9a3hft {
    box-sizing: border-box;
    margin: 0px 0px 10px;
    flex-direction: row;
}

.css-1640a91 {
    margin: 0px;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    color: rgb(179, 157, 219);
    font-size: 1rem;
    font-weight: 500;
}













.css-1lq5fll>div {
    position: relative;
    z-index: 5;
}


.css-1hqeloq {
    padding: 18px;
}

.css-1wkwmmc {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.css-1wkwmmc>.MuiGrid-item {
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-8rnkcc {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-between;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-yt0lep {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    background: rgb(21, 101, 192);
    cursor: pointer;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: 8px;
}

.css-1cw4hi4 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
}

.css-6auq38 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Roboto, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 4px 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    font-weight: 500;
    border-radius: 4px;
    color: inherit;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}


.css-rr8fau {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Roboto, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 4px 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(33, 150, 243);
    box-shadow: none;
    font-weight: 500;
    border-radius: 4px;
    color: inherit;
}

.css-1wkwmmc>.MuiGrid-item {
    max-width: none;
}

.css-1kno7zd {
    box-sizing: border-box;
    margin: 0px 0px 6px;
    flex-direction: row;
}

.css-v3z1wi {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
}

.css-1s50f5r {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
}



.css-v3z1wi {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
}



.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-tg80y7 {
    margin: 14px 8px 6px 0px;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    font-size: 2.125rem;
    font-weight: 500;
}

.css-192ve18 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    background: rgb(144, 202, 249);
    width: 22px;
    height: 22px;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(30, 136, 229);
}

.css-1ub9u31 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: inherit;
    transform: rotate3d(1, 1, 1, 45deg);
}

.css-15j76c0 {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}

.css-ktn4yd {
    margin: 0px;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    color: rgb(144, 202, 249);
    font-size: 1rem;
    font-weight: 500;
}

.css-1s50f5r {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
}

.apexcharts-canvas {
    position: relative;
    width: 43px;
    height: 90px;
    user-select: none;
}

.apexcharts-inner {
    position: relative;
}


.apexcharts-tooltip.apexcharts-theme-dark {
    color: #fff;
    background: rgba(30, 30, 30, .8);
    left: -20px;
    top: 61.5px;
}

.apexcharts-tooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px #999;
    cursor: default;
    font-size: 14px;
    left: 62px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 12;
    transition: .15s ease all;
}




.apexcharts-tooltip-series-group.apexcharts-active, .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 4px;
}

.apexcharts-tooltip-series-group {
    padding: 0 10px;
    display: none;
    text-align: left;
    justify-content: left;
    align-items: center;
    order: 1;
    display: flex;
}

.apexcharts-tooltip * {
    font-family: inherit;
}



.tiinner {
    /* border: 2px solid black; */
    display: flex;
    color: #fff;
    margin: 1rem;
}

.tidata {
    /* border: 2px solid black; */
    padding-top: 2px;
}

.tisvg {
    border-radius: 8px;
    background: rgb(21, 101, 192);
    margin-right: 8px;
    /* border: 2px solid black; */
}

.tisvg svg {
    width: 26px;
    margin: 8px;
    height: 26px;
    /* border: 2px solid black; */
}
.tiprice{
    font-size: 16px;
    font-weight: 600;
}
.titext{
    font-size: 12px;
}