@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  overflow-y: hidden;
}

/* css variables */
:root {
  --blue: #2196f3;
  --lightblue: rgb(227, 242, 253);
  --blueviolet: #8d39db;
  --lightblueviolet: rgb(237, 231, 246);
}
/* custom css */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-auto {
  width: 100%;
  margin: auto;
  display: block;
}

/* project css */

nav {
  width: 97vw;
  margin: auto;

  height: 15vh;
}
.logo-box {
  width: 19vw;
}

.logo-box i {
  padding: 0.4rem;
  color: var(--blueviolet);
  background-color: var(--lightblueviolet);
  border-radius: 5px;
}

.search-box {
  position: relative;
  width: 55vw;
}

.search-box input {
  height: 3rem;
  width: 60%;
  border: 1px solid rgb(150, 148, 148);
  border-radius: 10px;
  padding-left: 2.5rem;
  font-size: 1rem;
}
.search-box input:hover {
  height: 3rem;
  width: 60%;
  border: 1px solid rgb(62, 60, 60);
  border-radius: 10px;
}
.search-box input:focus {
  height: 3rem;
  width: 60%;
  border: none;
  outline: 2px solid var(--blue);
  border-radius: 10px;
}
.search-box svg {
  position: absolute;
  top: 20%;
  left: 60%;
  color: var(--blueviolet);
  background-color: var(--lightblueviolet);
  padding: 0.4rem;
  border-radius: 8px;
}

.search-box i {
  position: absolute;
  left: 2%;
  top: 35%;
  opacity: 0.6;
  pointer-events: none;
}

.tool-box {
  width: 12vw;
}

.tool-box svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-tabler-access-point {
  color: var(--blueviolet);
  background-color: var(--lightblueviolet);
  padding: 0.4rem;
  border-radius: 5px;
}
.icon-tabler-bell {
  color: var(--blueviolet);
  background-color: var(--lightblueviolet);
  padding: 0.4rem;
  border-radius: 5px;
}
.bi-translate {
  color: var(--blue);
  background-color: var(--lightblue);
  padding: 0.4rem;
  border-radius: 5px;
}

.profile-box {
  width: 6vw;
  background-color: var(--lightblue);
  padding: 0.5rem;
  border-radius: 30px;
}

.profile-box i {
  color: var(--blue);
}

/* icons-hover-universal */
.blueviolet-icon:hover {
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.4s;
}

.blue-icon:hover {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.blue-icon:hover > i {
  color: rgb(237, 237, 237);
}

/* section */

section {
  width: 96vw;
  margin: auto;
}

article {
  height: 80vh;
  width: 19vw;
  overflow-y: scroll;
  margin-top: -2rem;
}
/* width */
article::-webkit-scrollbar {
  width: 5px;
}

/* Track */
article::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
article::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163);
  border-radius: 10px;
}

.article-box {
  width: 17vw;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-top: 1rem;
}

.article-box ul {
  margin-top: 1rem;
}
.article-box ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  width: 70%;
}

.article-box ul li:hover {
  list-style: none;
  display: flex;
  padding: 1rem 2rem;

  width: 80%;
  background-color: var(--lightblueviolet);
  border-radius: 10px;
  cursor: pointer;
}
.article-box ul li:hover > span {
  color: var(--blueviolet);
}
.article-box h4 {
  font-weight: 500;
  font-size: 15px;
  color: rgb(69, 69, 69);
}

.article-box ul li span {
  font-size: 15px;
  margin-left: 12px;
  color: rgb(83, 82, 82);
}
.article-box ul li i {
  font-size: 20px;
  font-weight: 500;
}

.basic-elements {
  display: block;
}
.basic-elements::after {
  content: "8+ basic components";
  width: 100%;
  display: block;
  font-size: 12px;
}

.prebuild-pages::after {
  content: "Prebuild Pages";
  width: 100%;
  display: block;
  font-size: 11px;
}

/* container */
.container {
  width: 80vw;
  height: 90vh;
  border-radius: 10px;
  background-color: rgb(238, 242, 246);
  overflow-y: scroll;
}

.container-box {
  background-color: white;
  width: 95%;
  height: 4rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 0rem 1rem;
}

.segment h2 {
  font-weight: 600;
  color: rgb(75, 72, 72);
}

.segment i:nth-child(1) {
  color: var(--blueviolet);
}
.segment i:nth-child(2) {
  color: rgb(114, 112, 112);
}

.segment h4 {
  font-weight: 400;
  opacity: 0.7;
}

.container-box-2 {
  height: 15rem;
  box-sizing: border-box;
  width: 98%;
}

.container-box-2 h3 {
  opacity: 0.7;
  font-weight: 500;
  /* margin-bottom: 2rem; */
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-box-2 p {
  font-weight: 400;
  opacity: 0.7;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 0rem 1rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

hr {
  opacity: 0.3;
}
